<launch>
  <arg name="port" default="/dev/ttyUSB0" />
  <node pkg="roboteq_driver" type="driver_node" name="roboteq_driver" output="screen" ns="controller">
    <param name="port" value="$(arg port)" />
    <param name="baud" value="115200" />
    <rosparam>
      channels:
        - name: right
          encoder_ticks: 24
          gearbox_divider: 9
          max_acceleration: 7500
          max_decceleration: 15000
        - name: left
          encoder_ticks: 24
          gearbox_divider: 9
          max_acceleration: 7500
          max_decceleration: 15000
    </rosparam>
  </node>
</launch>
